{% extends 'base.html' %}
{% load static %}
{% block title %}
tournaments page
{% endblock %}
{% block css %}
.table th, tr, td{
    color:#000000;
    }

{% endblock %}

{% block content %}
    <h2 class="text-center">User Result Page</h2>
    <h3 class="text-center">Category: {{ cat.name }}</h3>
    <hr>
<table class="table table-hover">
  <thead>
    <tr>
      <th>User attemps</th>
      <th>Total wrong</th>
      <th>Total correct</th>
      <th>Total Score</th>
    </tr>
  </thead>
  <tbody>
    {% for a in userattemp %}
    <tr>
      <td>attemp {{ forloop.counter }}</td>
      <td>{{ a.wrong }}</td>
      <td>{{ a.correct }}</td>
      <td>{{ a.score }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}